* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* border: 1px solid black; */
}

h1 {
  text-align: center;
  border-bottom: 3px solid rgba(0, 103, 103, 0.7);
  font-size: 30px;
  /* border: 1px solid black; */

  /* background-color: rgb(49, 184, 184); */
}

.banner {
  /* width: 50%; */
  margin: auto;
  /* border: 1px solid black; */
  /* background-color: rgba(0, 103, 103, 0.7); */
  /* border-width: 10px; */
  /* border-color: brown; */
  /* border-radius: 20px; */
}

body {
  background-color: rgba(7, 205, 244, 0.753);
  width: 98%;
  margin: auto;
}

.sheet {
  background-color: rgb(220, 247, 250);
  height: 90%;
  padding: 2rem;
  align-items: center;
  border-radius: 15px;
  margin-top: 1rem;
  overflow: hidden;
}

.me {
  float: left;
  height: 20%;
  width: 20%;
  padding: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.bio {
 padding: 2rem;
 font-size: 20px;
}

.top {
  padding-top: 4rem;
  margin-left: 30%;
  width: 70%;
  text-align: center;
}