* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: white;
}

body {
  background: 
  linear-gradient(217deg, rgba(0, 0, 0, 0.8), rgba(255,0,0,0)),            
  linear-gradient(127deg, rgba(30, 33, 30, 0.8), rgba(0,255,0,0)),            
  linear-gradient(336deg, rgba(43, 43, 52, 0.8), rgba(0,0,255,0));
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

a {
  text-decoration: none;
}

.right {
  float: right;
}

.left {
 float: left;
}

ul > a {
  color: rgb(245, 244, 244);
  text-decoration: none;
}

/* Navigation */

header {
  /* display: grid; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  /* margin-top: -5rem; */
  margin: -5rem auto 0 auto;
  /* grid-template-columns: repeat(1fr, 4); */
  align-items: center;
  border-radius: 10px;
  position: fixed;
  background-color:rgba(31, 31, 31, 0.5);
  z-index: 1000;
}

nav {
  /* grid-column: 4; */
  color: #919692;
  letter-spacing: 1.5px;

}

nav ul {
  display: flex;
  justify-content: Space-evenly;
  align-items: center;
  /* background-color:rgba(0, 0, 0, 0.381) */
}

nav li :hover {
  color: goldenrod;
}

.nav-logo {
  margin-left: 4rem;
  width: 10rem;
  list-style: none;
}

.nav-link {
  list-style: none;
  color: white;
}

ul a {
  font-weight: bold;
  text-decoration: none;
  padding: 0.3rem 1.3rem 0.3rem 1.3rem;
  margin: 0.7rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 3px;
  color: white;
}

/* splash */


h1 {
  font-size: 3.5rem;
  padding-bottom: 2rem;
  text-shadow: 1px 1px 3px goldenrod;
  color: rgb(199, 199, 199);
}

h2 {
  font-size: 3.5rem;
  text-shadow: 1px 1px 3px goldenrod;
  color: rgb(199, 199, 199);
  padding-bottom: 2rem;
}

.underline {
  text-decoration: none;
  text-decoration-color: goldenrod;
  padding: 0 4rem;
  border-left: 3px double goldenrod;
  border-right: 3px double goldenrod;
}

.banner {
  margin: auto;
}



.flex-blob-container {
  display: flex;
  position: relative;
  margin-top: 5rem;
  margin-bottom: -60rem;
}

.flex-blob1 {
  background-color: goldenrod;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  width: 115rem;
  height: 50rem;
  z-index: -3;
  margin: 2rem -5rem -4rem 4rem;
}

.flex-blob2 {
  background-color: goldenrod;
  border-radius: 150% 123% 179% 85% / 84% 95% 97% 89%;
  width: 60rem;
  height: 20rem;
  z-index: -1;
  margin: 5rem -5rem 0 5rem;;
}

.flex-blob3 {
  background-color: white;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  width: 110rem;
  height: 45rem;
  z-index: -1;
  margin: 10rem 0rem 0 -5rem;
}

.flex-blob4 {
  background-color: goldenrod;
  width: 30rem;
  height: 30rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -1;
}

.flex-blob5 {
  background-color: black;
  width: 34rem;
  height: 44rem;
  box-shadow: -2px -2px 10px #000000a8;
  z-index: -2;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.flex-blob6 {
  background-color: white;
  width: 40rem;
  height: 18rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -3;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  margin: 35rem 0 0 
}

.flex-blob7 {
  background-color: black;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  width: 27rem;
  height: 19rem;
  z-index: -2;
  margin: 10rem 0 0 -55rem;
}

.flex-blob8 {
  background-color: black;
  border-radius: 50%;
  width: 25rem;
  height: 15rem;
  z-index: -4;
  margin: 2rem 0 0 -2rem;
}






.blob-container{
  position: relative;
  margin-bottom: 5rem;
}

.blob {
  position: absolute;
}

.blob1 {
  background-color: goldenrod;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  top: 12rem;
  width: 50rem;
  height: 50rem;
  z-index: -3;
}

.blob2 {
  background-color: goldenrod;
  border-radius: 150% 123% 179% 85% / 84% 95% 97% 89%;
  top: 10rem;
  left: 72rem;
  width: 30rem;
  height: 20rem;
  z-index: -1;
}

.blob3 {
  background-color: white;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 20rem;
  left: 15rem;
  width: 45rem;
  height: 45rem;
  z-index: -1;
}

.blob4 {
  background-color: goldenrod;
  top: 50rem;
  left: 95rem;
  width: 30rem;
  height: 30rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -1;
}

.blob5 {
  background-color: black;
  top: 15rem;
  left: 83rem;
  width: 34rem;
  height: 44rem;
  box-shadow: -2px -2px 10px #000000a8;
  z-index: -2;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob6 {
  background-color: white;
  top: 40rem;
  left: 75rem;
  width: 16rem;
  height: 18rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -3;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob7 {
  background-color: black;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 20rem;
  left: 11rem;
  width: 19rem;
  height: 19rem;
  z-index: -2;
}

.blob8 {
  background-color: black;
  border-radius: 50%;
  top: 40rem;
  left: 2rem;
  width: 12rem;
  height: 15rem;
  z-index: -4;
}

.blob9 {
  background-color: goldenrod;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  top: 10rem;
  left: 6rem;
  width: 50rem;
  height: 50rem;
  z-index: -3;
}

.blob10 {
  background-color: goldenrod;
  border-radius: 150% 123% 179% 85% / 84% 95% 97% 89%;
  top: 2rem;
  left: 72rem;
  width: 30rem;
  height: 20rem;
  z-index: -1;
}

.blob11 {
  background-color: white;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 7rem;
  left: 20rem;
  width: 40rem;
  height: 45rem;
  z-index: -1;
}

.blob12 {
  background-color: goldenrod;
  top: 28rem;
  left: 95rem;
  width: 30rem;
  height: 30rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -1;
}

.blob13 {
  background-color: black;
  top: 12rem;
  left: 83rem;
  width: 34rem;
  height: 44rem;
  box-shadow: -2px -2px 10px #000000a8;
  z-index: -2;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob14 {
  background-color: white;
  top: 20rem;
  left: 65rem;
  width: 25rem;
  height: 40rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -3;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob15 {
  background-color: black;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 20rem;
  left: 16rem;
  width: 19rem;
  height: 19rem;
  z-index: -2;
}

.blob16 {
  background-color: black;
  border-radius: 50%;
  top: 20rem;
  left: 2rem;
  width: 12rem;
  height: 15rem;
  z-index: -4;
}

.id-card {
  display: flex;
  /* height: 100%; */
  align-items: center;
  /* justify-items: center; */
  margin-top: 5rem;
  padding: 5rem;
  background: linear-gradient(to bottom, rgba(0,0,255,0), rgb(0, 0, 0));
}

.photo-blob {
  width: 100%;
}

.me {
  width: 60%;
  margin-left: 17%;
  align-self: flex-end;
  /* justify-self: end; */
  border-radius: 25%;
  object-fit: cover;
  z-index: 5;
}

.id {
  font-size: 20px;
  width: 80%;
  color: white;
  text-align: left;
  padding: 5rem 0 5rem 2rem;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 35px;
  background: rgba(0, 0, 0, 0.381);
}

.title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  color: goldenrod;
}

.name {
  text-align: left;
  font-size: 4.5rem;
}

.explanation {
  font-size: 3rem;
  color: goldenrod;
  padding-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 4rem;
}

.icon {
  height: 5%;
  width: 4%;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 20%;
}

.divider {
  display: block;
  width: 50%;
  height: 1px;
  border-bottom: solid 1px goldenrod;
  position: absolute;
  left: 25%;
  z-index: 99;
}

/* About Me */

.about-me {
  height: auto;
  width: auto;
  position: relative;
  padding: 5% 15% 5% 15%;
  background-color: black;
  text-align: center;
  overflow: hidden;
}

/* .about-me > p {
} */

.p-f-left {
  width: 48%;
  padding-top: 2rem;
  font-size: 1.5rem;
  z-index: 999;
}

.p-f-right {
  width: 48%;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.cirkle1 {
  position: absolute;
  left: 33rem;
  top: 11rem;
  height: 10rem;
  width: 10rem;
  background-color: transparent;
  border: 10px solid goldenrod;
  border-radius: 50%;
  opacity: .13;
}

.cirkle2 {
  position: absolute;
  left: 12rem;
  top: 22rem;
  height: 30rem;
  width: 30rem;
  background-color: transparent;
  border: 10px solid goldenrod;
  border-radius: 50%;
  opacity: .13;
}

.cirkle3 {
  position: absolute;
  left: 45rem;
  top: 6rem;
  height: 45rem;
  width: 45rem;
  background-color: transparent;
  border: 10px solid goldenrod;
  border-radius: 50%;
  opacity: .13;
}

.cirkle4 {
  position: absolute;
  left: 50rem;
  top: 15rem;
  height: 25rem;
  width: 25rem;
  background-color: transparent;
  border: 10px solid goldenrod;
  border-radius: 50%;
  opacity: .13;
  z-index: 1;
}

.cirkle5 {
  position: absolute;
  left: 10rem;
  top: 7rem;
  height: 15rem;
  width: 15rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 50%;
  opacity: .13;
  z-index: 1;
}

.cirkle6 {
  position: absolute;
  left: 99rem;
  top: 2rem;
  height: 15rem;
  width: 15rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 50%;
  opacity: .13;
  z-index: 1;
}

.cirkle7 {
  position: absolute;
  left: 94rem;
  top: 18rem;
  height: 35rem;
  width: 35rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 50%;
  opacity: .13;
  z-index: 1;
}

.cirkle8 {
  position: absolute;
  left: 82rem;
  top: 7rem;
  height: 23rem;
  width: 23rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 50%;
  opacity: .13;
  z-index: 1;
}

/* Project section */
.project {
  padding: 4.5rem 0 0 0;
  background-color: black;
  text-align: center;
  position: relative;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem 12rem 4rem 12rem;
  column-gap: 10rem;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

.special {

}

.pro {
  font-weight: bold;
  grid-column: span 2;
  text-align: center;
}

.overlay-icons1 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons1:hover {
  opacity: 1;
}

.overlay-icons2:hover {
  opacity: 1;
}

.overlay-icons3:hover {
  opacity: 1;
}

.overlay-icons4:hover {
  opacity: 1;
}

.overlay-icons5:hover {
  opacity: 1;
}

.overlay-icons2 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons3 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgba(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons4 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons5 {
  position: absolute;
  top: 21%;
  left: 29.8%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icon-L {
  width: 5rem;
}

.overlay-icon-R {
  width: 5rem;
}

.overlay-icon-L:hover, 
.overlay-icon-R:hover {
  cursor: pointer;
  background: radial-gradient(rgb(255, 255, 255) 70%, transparent 71%);
}

.pr-screenshot {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5%;
  transition: opacity 0.3s ease;
  transition: border 0.7s ease;
  border: solid 3px white;
}

.pr-screenshot:hover {
  border: solid 3px goldenrod;
}

.pr-screenshot:hover ~ .overlay-icons1 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons2 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons3 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons4 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons5 {
  opacity: 1;
}

.pr-screenshot-text {
  padding-bottom: 1rem;
  color: goldenrod;
  font-weight: bold;
  font-size: 2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.4);
}

.pr1-ss-div {
  height: auto;
  position: relative;
  transition: opacity 0.7s ease;
}

.pr1-ss-div:hover {
  opacity: .6;
}

.pr2-ss-div {
  height: auto;
  position: relative;
  transition: opacity 0.7s ease;
}

.pr2-ss-div:hover {
  opacity: .6;
}

.pr3-ss-div {
  height: auto;
  position: relative;
  transition: opacity 0.7s ease;
}

.pr3-ss-div:hover {
  opacity: .6;
}

.pr4-ss-div {
  height: auto;
  position: relative;
  transition: opacity 0.7s ease;
}

.pr4-ss-div:hover {
  opacity: .6;
}

.pr5-ss-div {
  grid-column: span 2;
  width: 50%;
  position: relative;
  transition: opacity 0.7s ease;
}

.pr5-ss-div:hover {
  opacity: .6;
}

.skware1 {
  position: absolute;
  top: 7rem;
  left: 10rem;
  height: 27rem;
  width: 40rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}

.skware2 {
  position: absolute;
  top: 10rem;
  left: 50rem;
  height: 30rem;
  width: 30rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}

.skware3 {
  position: absolute;
  top: 30rem;
  left: 12rem;
  height: 50rem;
  width: 30rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}

.skware4 {
  position: absolute;
  top: 45rem;
  left: 40rem;
  height: 20rem;
  width: 40rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}

.skware5 {
  position: absolute;
  top: 72rem;
  left: 35rem;
  height: 30rem;
  width: 50rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}

.skware6 {
  position: absolute;
  top: 25rem;
  left: 70rem;
  height: 45rem;
  width: 40rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}

.skware7 {
  position: absolute;
  top: 6rem;
  left: 80rem;
  height: 30rem;
  width: 45rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}

.skware8 {
  position: absolute;
  top: 60rem;
  left: 80rem;
  height: 30rem;
  width: 40rem;
  border: 10px solid goldenrod;
  background-color: transparent;
  border-radius: 35%;
  opacity: .13;
  z-index: 0;
}


/* Contact */

.contact {
  background: linear-gradient(to bottom, black, rgba(43, 43, 52, 0.8), rgba(0,0,255,0));
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5%;
  position: relative;
}

.contact-box {
  display: flex;
  margin-left: 6%;
  margin-right: 6%;
  justify-content: space-between;
  padding-top: 0rem;
  background: rgba(0, 0, 0, 0.381);
  box-shadow: 1px 1px 10px #000000;
  border-radius: 20%;
}

.contact-logo {
  width: 48%;
  padding: 15rem 2rem 15rem 2rem;
  border-radius: 20%;
  object-fit: contain;
  background-color: rgb(43, 42, 42);
  border: solid 5px rgb(148, 147, 147);
}

.contact-sheet {
  display: grid;
  width: 48%;
  /* grid-template-columns: 200px 400px; */
  grid-template-columns: 33% 66%;
  grid-template-rows: 200px 200px 200px;
  justify-self: start;
  color: goldenrod;
  text-align: left;
  align-items: center;
  padding: 2rem 8rem 2rem 0;
  overflow: hidden;
  border-radius: 20%;
  background-color: rgb(43, 42, 42);
  border: solid 5px rgb(148, 147, 147);
}

.contact-sheet > p {
  margin-left: 2.5rem;
  color: white;
  font-size: 1.6rem;
}


.icon1 {
  height: 40%;
  width: auto;
  margin-top: 1rem;
  grid-column: 1;
  grid-row: 1; 
  padding-bottom: 0;
  margin-bottom: 0;
  justify-self: end;
  padding-right: 3rem;
  border-radius: 4px;
  border-right: solid 5px goldenrod;

}

.phone {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
}

.icon2 {
  height: 30%;
  width: auto;
  margin-top: 1rem;
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  padding-right: 3rem;
  border-radius: 4px;
  border-right: solid 5px goldenrod;
}

.email {
  grid-column: 2;
  grid-row: 2;
}

.icon3 {
  height: 40%;
  width: auto;
  margin-top: 1rem;
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
  padding-right: 3rem;
  border-radius: 4px;
  border-right: solid 5px goldenrod;
}

.location {
  grid-column: 2;
  grid-row: 3;
}

/* Footer */

footer {

  background-color: rgb(32, 32, 35);
  width: 100%;
  height: 10rem;
  text-align: center;
}

footer > p {
  padding: 2rem 0 0 0;
  color: grey;
}

footer > a {
  color: rgb(193, 193, 193);
}


@media (min-width: 1200px) and (max-width: 1399px) {

  .me{
    width: 70%
  }

  .id {
  font-size: 10px;

  }

  .title {
  font-size: 1rem;
  padding-bottom: 1rem;
  }

  .name {
  font-size: 3rem;
  }

  .explanation {
  font-size: 2.5rem;
  }

  .icon {
  width: 13%;
  }



  .blob1 {
    background-color: goldenrod;
    border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
    top: 5rem;
    width: 35rem;
    height: 40rem;
    z-index: -3;
  }
  
  .blob2 {
    background-color: goldenrod;
    border-radius: 150% 123% 179% 85% / 84% 95% 97% 89%;
    top: 7rem;
    left: 47rem;
    width: 20rem;
    height: 15rem;
    z-index: -1;
  }
  
  .blob3 {
    background-color: white;
    border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
    box-shadow: -2px -2px 10px #000000a8;
    top: 12rem;
    left: 10rem;
    width: 28rem;
    height: 35rem;
    z-index: -1;
  }
  
  .blob4 {
    background-color: goldenrod;
    top: 35rem;
    left: 65rem;
    width: 8rem;
    height: 10rem;
    border-radius: 100% 23% 79% 85%;
    z-index: -1;
  }
  
  .blob5 {
    background-color: black;
    top: 8rem;
    left: 53rem;
    width: 21rem;
    height: 36rem;
    box-shadow: -2px -2px 10px #000000a8;
    z-index: -2;
    border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  }
  
  .blob6 {
    background-color: white;
    top: 30rem;
    left: 50rem;
    width: 16rem;
    height: 18rem;
    border-radius: 100% 23% 79% 85%;
    z-index: -3;
    border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  }
  
  .blob7 {
    background-color: black;
    border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
    box-shadow: -2px -2px 10px #000000a8;
    top: 10rem;
    left: 9rem;
    width: 19rem;
    height: 19rem;
    z-index: -2;
  }
  
  .blob8 {
    background-color: black;
    border-radius: 50%;
    top: 30rem;
    left: 2rem;
    width: 12rem;
    height: 15rem;
    z-index: -4;
  }

  .blob10{
    display: none;
  }

  .blob12 {
    display: none;
  }

  .blob13 {
    display: none;
  }
  
  .blob14 {
    display: none;
  }

  .cirkle1 {
    display: none;
  }
  .cirkle2 {
    display: none;
  }
  .cirkle3 {
    display: none;
  }
  .cirkle4 {
    display: none;
  }
  .cirkle5 {
    display: none;
  }
  .cirkle6 {
    display: none;
  }
  .cirkle7 {
    display: none;
  }
  .cirkle8 {
    display: none;
  }

  .skware1 {
    display: none;
  }
  .skware2 {
    display: none;
  }
  .skware3 {
    display: none;
  }
  .skware4 {
    display: none;
  }
  .skware5 {
    display: none;
  }
  .skware6 {
    display: none;
  }
  .skware7 {
    display: none;
  }
  .skware8 {
    display: none;
  }

  .contact-box {
    margin: 0 1%;
  }

  .contact-sheet {
    padding: 2rem 3rem 2rem 0;
  }

  .icon1 {
    padding-left: 1rem;
  }

  .icon2 {
    padding-left: 1rem;
  }

  .icon3 {
    padding-left: 1rem;
  }

  .about-me {
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
    text-align: center;
    overflow: hidden;
  }

  .projects {
    padding: 1rem 6rem 4rem 6em;
  }

  .overlay-icons1 {
    top: 2%;
    left: 15%;
  }

  .overlay-icons2 {
    top: 2%;
    left: 15%;
  }

  .overlay-icons3 {
    top: 2%;
    left: 15%;
  }

  .overlay-icons4 {
    top: 2%;
    left: 15%;
  }

  .overlay-icons5 {
    top: 7%;
    left: 21%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .me {
    display: none;
  }

  .id-card{
    display: block;
  }

  .id {
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
  }

  .blob1 {
    top: 2rem;
    height: 45rem;
  }

  .blob8 {
    top: 32rem;
  }

  .blob7 {
    top: 5rem;
    left: 9rem;
  }

  .blob3 {
    top: 10rem;
    height: 40rem;
  }

  .blob2 {
    display: none;
  }
  
  .blob6 {
    display: none;
  }

  .blob5 {
    display: none;
  }

  .blob4 {
    display: none;
  }

  .blob10{
    display: none;
  }

  .blob12 {
    display: none;
  }

  .blob13 {
    display: none;
  }
  
  .blob14 {
    display: none;
  }

  .cirkle1 {
    display: none;
  }
  .cirkle2 {
    display: none;
  }
  .cirkle3 {
    display: none;
  }
  .cirkle4 {
    display: none;
  }
  .cirkle5 {
    display: none;
  }
  .cirkle6 {
    display: none;
  }
  .cirkle7 {
    display: none;
  }
  .cirkle8 {
    display: none;
  }

  .skware1 {
    display: none;
  }
  .skware2 {
    display: none;
  }
  .skware3 {
    display: none;
  }
  .skware4 {
    display: none;
  }
  .skware5 {
    display: none;
  }
  .skware6 {
    display: none;
  }
  .skware7 {
    display: none;
  }
  .skware8 {
    display: none;
  }

  .icon {
    width: 10%;
  }

  .about-me {
    padding: 5%;
  }

  .projects {
    padding: 1rem 4rem 4rem 4rem;
  }

  .overlay-icons1 {
    display: none;
  }

  .overlay-icons2 {
    display: none;
  }

  .overlay-icons3 {
    display: none;
  }

  .overlay-icons4 {
    display: none;
  }

  .overlay-icons5 {
    display: none;
  }

  .contact-box {
    margin: auto 1%
  }
  
  .contact-sheet {
    grid-template-rows: 150px 150px 150px;
  }

  .contact-sheet > p {
    font-size: 1.5rem;
  }

  .icon1 {
    padding: 1rem;
    height: auto;
    width: 90%;
  }

  .icon2 {
    padding: 1rem;
    height: auto;
    width: 90%;
  }

  .icon3 {
    padding: 1rem;
    height: auto;
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .nav-logo {
    width: 10rem;
  }

  nav {
    display: none;
  }

  .me {
    display: none;
  }

  .id-card{
    display: block;
  }

  .id {
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
  }

  .blob1 {
    top: 2rem;
    height: 45rem;
    width: 40rem
  }

  .blob8 {
    top: 32rem;
  }

  .blob7 {
    top: 5rem;
    left: 9rem;
  }

  .blob3 {
    top: 10rem;
    height: 40rem;
    width: 31rem;
  }

  .blob2 {
    display: none;
  }
  
  .blob6 {
    display: none;
  }

  .blob5 {
    display: none;
  }

  .blob4 {
    display: none;
  }

  .blob10{
    display: none;
  }

  .blob12 {
    display: none;
  }

  .blob13 {
    display: none;
  }
  
  .blob14 {
    display: none;
  }

  .blob9 {
    left: 3rem;
    width: 40rem;
  }

  .blob11 {
    left: 6rem;
    width: 
  }

  .cirkle1 {
    display: none;
  }
  .cirkle2 {
    display: none;
  }
  .cirkle3 {
    display: none;
  }
  .cirkle4 {
    display: none;
  }
  .cirkle5 {
    display: none;
  }
  .cirkle6 {
    display: none;
  }
  .cirkle7 {
    display: none;
  }
  .cirkle8 {
    display: none;
  }

  .skware1 {
    display: none;
  }
  .skware2 {
    display: none;
  }
  .skware3 {
    display: none;
  }
  .skware4 {
    display: none;
  }
  .skware5 {
    display: none;
  }
  .skware6 {
    display: none;
  }
  .skware7 {
    display: none;
  }
  .skware8 {
    display: none;
  }

  .icon {
    width: 10%;
  }

  .about-me {
    padding: 5%;
  }

  .p-f-left {
    font-size: 1.2rem;
  }

  .p-f-right {
    font-size: 1.2rem;
  }

  .projects {
    padding: 1rem 4rem 4rem 4rem;
  }

  .overlay-icons1 {
    display: none;
  }

  .overlay-icons2 {
    display: none;
  }

  .overlay-icons3 {
    display: none;
  }

  .overlay-icons4 {
    display: none;
  }

  .overlay-icons5 {
    display: none;
  }

  .projects {
    column-gap: 2rem;
    padding: 1rem
  }

  .contact-logo {
    display: none;
  }

  .contact-sheet {
    width: 100%;
  }

}

@media (max-width: 767px) {
  .nav-logo {
    width: 10rem;
  }

  nav {
    display: none;
  }

  .me {
    display: none;
  }

  .id-card{
    display: block;
    padding: .1rem;
  }

  .id {
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    font-size: 10px;
  }

  .title {
    font-size: 1rem;
  }

  .name {
    font-size: 3rem;
  }

  .explanation {
    font-size: 2.5rem
  }

  .blob1 {
    display: none;
  }

  .blob8 {
    display: none;
  }

  .blob7 {
    display: none;
  }

  .blob3 {
    display: none;
  }

  .blob2 {
    display: none;
  }
  
  .blob6 {
    display: none;
  }

  .blob5 {
    display: none;
  }

  .blob4 {
    display: none;
  }

  .blob10{
    display: none;
  }

  .blob12 {
    display: none;
  }

  .blob13 {
    display: none;
  }
  
  .blob14 {
    display: none;
  }

  .blob9 {
    left: 3rem;
    width: 40rem;
  }

  .blob11 {
    left: 6rem;
    width: 
  }

  .cirkle1 {
    display: none;
  }
  .cirkle2 {
    display: none;
  }
  .cirkle3 {
    display: none;
  }
  .cirkle4 {
    display: none;
  }
  .cirkle5 {
    display: none;
  }
  .cirkle6 {
    display: none;
  }
  .cirkle7 {
    display: none;
  }
  .cirkle8 {
    display: none;
  }

  .skware1 {
    display: none;
  }
  .skware2 {
    display: none;
  }
  .skware3 {
    display: none;
  }
  .skware4 {
    display: none;
  }
  .skware5 {
    display: none;
  }
  .skware6 {
    display: none;
  }
  .skware7 {
    display: none;
  }
  .skware8 {
    display: none;
  }

  .icon {
    width: 10%;
  }

  .about-me {
    padding: 5%;
  }

  .p-f-left {
    font-size: 1rem;
  }

  .p-f-right {
    font-size: 1rem;
  }

  .projects {
    padding: 1rem 4rem 4rem 4rem;
    display: block;
  }

  .pr5-ss-div {
    width: 100%;
  }

  .overlay-icons1 {
    display: none;
  }

  .overlay-icons2 {
    display: none;
  }

  .overlay-icons3 {
    display: none;
  }

  .overlay-icons4 {
    display: none;
  }

  .overlay-icons5 {
    display: none;
  }

  .projects {
    column-gap: 2rem;
    padding: 1rem
  }

  .contact-logo {
    display: none;
  }

  .contact-sheet {
    width: 100%;
    padding-right: 0;
  }

  .contact-sheet > p {
    font-size: 1.2rem;
  }
}