* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: white;
  /* border: 1px solid white; */
}

body {
  /* background-color: rgba(7, 205, 244, 0.753); */
  /* background-color: rgb(200, 228, 239); */
  /* background: linear-gradient(rgb(38, 40, 41); */
  background: 
  linear-gradient(217deg, rgba(0, 0, 0, 0.8), rgba(255,0,0,0)),            
  linear-gradient(127deg, rgba(30, 33, 30, 0.8), rgba(0,255,0,0)),            
  linear-gradient(336deg, rgba(43, 43, 52, 0.8), rgba(0,0,255,0));
  height: 100%;
  /* width: 98%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.right {
  float: right;
}

.left {
 float: left;
}

ul > a {
  color: rgb(245, 244, 244);
  text-decoration: none;
}

/* Navigation */

header {
  display: grid;
  width: 100%;
  padding: 0.2rem;
  margin-top: -5rem;
  grid-template-columns: repeat(1fr, 4);
  align-items: center;
  border-radius: 10px;
  position: fixed;
  background-color:rgba(31, 31, 31, 0.5);
  z-index: 1000;
}

nav {
  grid-column: 4;
  color: #919692;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: Space-evenly;
  align-items: center;
  padding: 20px 20px;
  /* border: 1px solid black; */
}

nav li :hover {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.nav-logo {
  margin-left: 4rem;
  width: 10rem;
  list-style: none;
}

.nav-link {
  list-style: none;
  /* box-shadow: 0 5px 3px -3px rgb(255, 255, 255); */
}

ul a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}

/* splash */


h1 {
  /* border-bottom: 3px sol00id rgba(0, 103, 103, 0.7); */
  font-size: 3.5rem;
  padding-bottom: 2rem;
  /* color: rgb(196, 114, 221) */
  color: rgb(199, 199, 199);
  /* border: 1px solid black; */
  /* background-color: rgb(49, 184, 184); */
}

.underline {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.banner {
  /* width: 50%; */
  margin: auto;
  /* border: 1px solid black; */
  /* background-color: rgba(0, 103, 103, 0.7); */
  /* border-width: 10px; */
  /* border-color: brown; */
  /* border-radius: 20px; */
}


.id-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  align-items: center;
  justify-items: center;
  margin-top: 5rem;
  padding: 5rem;
  background: linear-gradient(to bottom, rgba(0,0,255,0), rgb(0, 0, 0));
  /* border: solid 1px white; */
}

.photo-blob {
  /* position: relative; */
  /* border: 3px solid white; */
}

.me {
  height: 100%;
  width: 60%;
  margin-left: 20rem;
  justify-self: end;
  border-radius: 25%;
  object-fit: cover;
  background: linear-gradient(to top, white, transparent 40%);
  /* border: solid 1px white; */
  z-index: 5;
}

.blob1 {
  position: absolute;
  background-color: goldenrod;
  /* border-radius: 90% 123% 79% 185%; */
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  top: 12rem;
  width: 50rem;
  height: 50rem;
  z-index: -3;
}

.blob2 {
  position: absolute;
  background-color: goldenrod;
  border-radius: 150% 123% 179% 85% / 84% 95% 97% 89%;
  top: 10rem;
  left: 72rem;
  width: 30rem;
  height: 20rem;
  z-index: -1;
}

.blob3 {
  position: absolute;
  background-color: white;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 20rem;
  left: 20rem;
  width: 40rem;
  height: 45rem;
  z-index: -1;
}

.blob4 {
  position: absolute;
  background-color: goldenrod;
  top: 50rem;
  left: 95rem;
  width: 30rem;
  height: 30rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -1;
}

.blob5 {
  position: absolute;
  background-color: black;
  top: 15rem;
  left: 83rem;
  width: 34rem;
  height: 44rem;
  /* border-radius: 100% 23% 79% 85%; */
  box-shadow: -2px -2px 10px #000000a8;
  z-index: -2;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob6 {
  position: absolute;
  background-color: white;
  top: 40rem;
  left: 75rem;
  width: 16rem;
  height: 18rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -3;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob7 {
  position: absolute;
  background-color: black;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 20rem;
  left: 16rem;
  width: 19rem;
  height: 19rem;
  z-index: -2;
}

.blob8 {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  /* border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%; */
  /* box-shadow: -5px -5px 10px #888888a8; */
  top: 40rem;
  left: 2rem;
  width: 12rem;
  height: 15rem;
  z-index: -4;
}

.blob9 {
  position: absolute;
  background-color: goldenrod;
  /* border-radius: 90% 123% 79% 185%; */
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  top: 25rem;
  left: 6rem;
  width: 50rem;
  height: 50rem;
  z-index: -3;
}

.blob10 {
  position: absolute;
  background-color: goldenrod;
  border-radius: 150% 123% 179% 85% / 84% 95% 97% 89%;
  top: 10rem;
  left: 72rem;
  width: 30rem;
  height: 20rem;
  z-index: -1;
}

.blob11 {
  position: absolute;
  background-color: white;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 20rem;
  left: 20rem;
  width: 40rem;
  height: 45rem;
  z-index: -1;
}

.blob12 {
  position: absolute;
  background-color: goldenrod;
  top: 50rem;
  left: 95rem;
  width: 30rem;
  height: 30rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -1;
}

.blob13 {
  position: absolute;
  background-color: black;
  top: 15rem;
  left: 83rem;
  width: 34rem;
  height: 44rem;
  /* border-radius: 100% 23% 79% 85%; */
  box-shadow: -2px -2px 10px #000000a8;
  z-index: -2;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob14 {
  position: absolute;
  background-color: white;
  top: 26rem;
  left: 65rem;
  width: 25rem;
  height: 40rem;
  border-radius: 100% 23% 79% 85%;
  z-index: -3;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
}

.blob15 {
  position: absolute;
  background-color: black;
  border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%;
  box-shadow: -2px -2px 10px #000000a8;
  top: 20rem;
  left: 16rem;
  width: 19rem;
  height: 19rem;
  z-index: -2;
}

.blob16 {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  /* border-radius: 150% 63% 99% 185% / 94% 85% 87% 100%; */
  /* box-shadow: -5px -5px 10px #888888a8; */
  top: 40rem;
  left: 2rem;
  width: 12rem;
  height: 15rem;
  z-index: -4;
}
.id {
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 5rem 0 5rem 2rem;
  box-shadow: 1px 1px 10px #000000;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.381);
  /* border: solid 1px white; */
}

.title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  color: goldenrod;
}

.name {
  text-align: left;
  font-size: 4.5rem;
}

.explanation {
  font-size: 2rem;
  color: goldenrod;
  padding-bottom: 1rem;
  font-weight: bold;
}

.icon {
  height: 5%;
  width: 4%;
  margin-top: 1rem;
  margin-bottom: -0.7rem;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 20%;
}

.divider {
  display: block;
  width: 50%;
  height: 1px;
  border-bottom: solid 1px goldenrod;
  position: absolute;
  left: 25%;
  z-index: 99;
}

/* About Me */

.about-me {
  height: auto;
  width: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: black;
  text-align: center;
  overflow: hidden;
  /* z-index: 1; */
  /* border: solid 1px white; */
}

/* .about-me > p {
} */

.p-f-left {
  width: 48%;
  padding-top: 2rem;
  font-size: 1.5rem;
  z-index: 999;
}

.p-f-right {
  width: 48%;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.cirkle1 {
  position: absolute;
  /* top: 5rem; */
  left: 35rem;
  height: 5rem;
  width: 5rem;
  background-color: purple;
  border-radius: 50%;
  opacity: 30%
}

.cirkle2 {
  position: absolute;
  left: 40rem;
  height: 5rem;
  width: 5rem;
  background-color: red;
  border-radius: 50%;
}

.cirkle3 {
  position: absolute;
  left: 45rem;
  /* top: 8rem; */
  height: 5rem;
  width: 5rem;
  background-color: blue;
  border-radius: 50%;
  opacity: 100%;
  z-index: 4
}

.cirkle4 {
  position: absolute;
  left: 50rem;
  /* top: 50rem; */
  height: 5rem;
  width: 5rem;
  background-color: goldenrod;
  border-radius: 50%;
  opacity: 20%;
  z-index: 1;
}

.cirkle5 {
  position: absolute;
  /* top: 40rem; */
  left: 55rem;
  height: 5rem;
  width: 5rem;
  background-color: green;
  border-radius: 50%;
  z-index: 1;
}

/* Project section */
.project {
  display: grid;
  /* width: 100%; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 15rem;
  padding-top: 0;
  /* margin: 5rem; */
  column-gap: 10rem; 
  overflow: hidden;
  text-align: center;
  background-color: black;
  /* border-radius: 25px; */
  /* border: solid 3px goldenrod; */
}

.special {
  grid-row: 1;
  grid-column: span 2;
  gap: 0;
}

.pro {
  font-size: 5rem;
  font-weight: bold;
  grid-column: span 2;
}

.overlay-icons1 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons1:hover {
  opacity: 1;
}

.overlay-icons2:hover {
  opacity: 1;
}

.overlay-icons3:hover {
  opacity: 1;
}

.overlay-icons4:hover {
  opacity: 1;
}

.overlay-icons5:hover {
  opacity: 1;
}

.overlay-icons2 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons3 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgba(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons4 {
  position: absolute;
  top: 15%;
  left: 27%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icons5 {
  position: absolute;
  top: 21%;
  left: 29.8%;
  padding: 4rem;
  background: radial-gradient(rgb(136, 136, 136), transparent 70%);
  border-radius: 45%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-icon-L {
  width: 5rem;
}

.overlay-icon-R {
  width: 5rem;
}

.overlay-icon-L:hover, 
.overlay-icon-R:hover {
  cursor: pointer;
  background: radial-gradient(rgb(255, 255, 255) 70%, transparent 71%);
}

.pr-screenshot {
  width: 100%;
  /* height: auto; */
  margin-bottom: 1rem;
  border-radius: 5%;
  transition: opacity 0.3s ease;
  border: solid 3px white;
}

.pr-screenshot:hover {
  /* opacity: 0.5; */
  border: solid 3px goldenrod;
}

.pr-screenshot:hover ~ .overlay-icons1 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons2 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons3 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons4 {
  opacity: 1;
}

.pr-screenshot:hover ~ .overlay-icons5 {
  opacity: 1;
}

/* .overlay-icons1:hover ~ .pr-screenshot {
  opacity: 50%;
} */

.pr-screenshot-text {
  padding-bottom: 1rem;
  color: goldenrod;
  font-weight: bold;
  font-size: 2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.pr1-ss-div {
  height: auto;
  position: relative;
}

.pr2-ss-div {
  height: auto;
  position: relative;
}

.pr3-ss-div {
  height: auto;
  position: relative;
}

.pr4-ss-div {
  height: auto;
  position: relative;
}

.pr5-ss-div {
  grid-column: span 2;
  width: 50%;
  position: relative;
}

/* Contact */

.contact {
  background: linear-gradient(to bottom, black, rgba(43, 43, 52, 0.8), rgba(0,0,255,0));
  width: 100%;
  height: 30%; 
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 56rem;
  margin-left: 10%;
  margin-right: 10%;
  /* justify-items: center; */
  align-items: center;
  padding-top: 5rem;
  background: rgba(0, 0, 0, 0.381);
  /* background: radial-gradient( rgba(43, 43, 52, 0.8), rgba(0,0,255,0)); */
  box-shadow: 1px 1px 10px #000000;
  border-radius: 20%;
  /* border: solid 5px black; */
}

.me-look-left {
  width: 90%;
  float: left;
  padding: 15rem 5rem 15rem 5rem;
  margin-right: 2rem;
  border-radius: 20%;
  object-fit: cover;
  justify-self: end;
  background-color: rgb(43, 42, 42);
  border: solid 5px rgb(148, 147, 147);
}

.contact-sheet {
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: 200px 200px 200px;
  justify-self: start;
  color: goldenrod;
  text-align: left;
  align-items: center;
  padding: 2rem 8rem 2rem 0;
  margin-left: 2rem;
  border-radius: 20%;
  background-color: rgb(43, 42, 42);
  border: solid 5px rgb(148, 147, 147);
  /* padding-left: 8rem; */
  /* background-color: rgba(218, 165, 32, 0.082);
  border: solid 5px rgb(43, 42, 42); */
}

.contact-sheet > p {
  /* width: 54%; */
  /* margin-top: -3rem; */
  margin-left: 4rem;
  color: white;
  font-size: 2rem;
  /* border: solid 1px white; */

}


.icon1 {
  /* margin-left: 32.5%; */
  /* background-color: grey; */
  border-radius: 7px;
  height: 40%;
  width: auto;
  margin-top: 1rem;
  grid-column: 1;
  grid-row: 1; 
  padding-bottom: 0;
  margin-bottom: 0;
  justify-self: end;
  padding-right: 3rem;
  border-right: solid 1px goldenrod;

}

.phone {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
}

.icon2 {
  /* margin-left: 32%; */
  /* background-color: grey; */
  border-radius: 7px;
  height: 30%;
  width: auto;
  margin-top: 1rem;
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  padding-right: 3rem;
  border-right: solid 1px goldenrod;
}

.email {
  grid-column: 2;
  grid-row: 2;
}

.icon3 {
  /* display: inline-block; */
  border-radius: 7px;
  height: 40%;
  width: auto;
  margin-top: 1rem;
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
  padding-right: 3rem;
  border-right: solid 1px goldenrod;
}

.location {
  grid-column: 2;
  grid-row: 3;
}

/* Footer */

footer {
  /* border: 1px solid white; */
  background-color: rgb(32, 32, 35);
  width: 100%;
  height: 10rem;
  text-align: center;
}

footer > p {
  padding: 2rem 0 0 0;
  color: grey;
}

footer > a {
  color: rgb(193, 193, 193);
  /* text-decoration: none; */
}